#middle-link {
    border-left: 10px solid #000000;
    border-right: 10px solid #000000;
}

.nav-label {
    font-family: "helvetica";
    font-size: 1.3em;
    font-weight: absolute;
    
}

.nav-link {
    flex: 1;
    text-align: center;
}

.nav-link:hover {
    background: #030303;
}

.nav-link-style {
    color: rgb(1, 1, 1);
}

.nav-strip {
    background: #f5f5f7;
    display: flex;
    flex: 1;
    flex-direction: row;

    /* .nav-button {
        background: #000000;
        color: #FFFFFF;
        font-size: 20px;
        padding: 30px 60px;
        border-radius: 5px;
        margin: 30px 0px;
        cursor: PointerEvent;
        ;
    } */
}