#middle-link {
    border-left: 20px solid #000000;
    border-right: 20px solid #000000;
}

.nav-label {
    color: #BABFB7;
    font-family: "blueberry";
    font-size: 1.5em;
    font-weight: absolute;
    cursor: PointerEvent;
    
}

.nav-link {
    flex: 1;
    text-align: center;
}

.nav-link:hover {
    background: #545454;
}

.nav-link-style {
    color: rgb(1, 1, 1);
}

.nav-strip {
    background: #000000;
    display: flex;
    flex: 1;
    flex-direction: row;
    padding: 20px 20px;

}