.img_contanier {
    height: 600px;
    width: 100%;
    background-color: black;
    background: url("./images/homebanner.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: list-item;
    justify-content: left;
    align-items: normal;
  }
